<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo_app/styles.css' %}" media="screen"/>
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <h1>Todos</h1>
    Hello, {{ user.username }}.
    <a href="{% url 'login_app:logout' %}">Log Out</a>
    <br />
    <a href="{% url 'todo_app:completed_todos' %}">Completed Todos</a>
    
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}

</body>
</html>