<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Todos</title>
</head>
<body>

    {% extends "todo_app/base.html" %}
    {% block title %} Completed Todos  {% endblock %}

    {% block content %}



    <h1>Completed Todos</h1>
    <a href="{% url 'todo_app:index' %}">Home</a>
    <hr />
    <ul>
    {% for todo in todos %}
        <li>
            <form action="{% url 'todo_app:update_status' %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="status" {% if todo.status  %}checked{% endif %}>
                <input type="submit" value="Update">
                {{ todo.text }}
                <input type="hidden" name="pk" value="{{todo.pk}}">
            </form>
        </li>
    {% endfor %}
    </ul>
    <hr />
    {% endblock %}
</body>
</html>

