<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    {% extends "todo_app/base.html" %}


    {% block content %}

    <hr />
    <ul>
    {% for todo in todos %}
        <li>
            <form action="{% url 'todo_app:update_status' %}" method="POST">
                {% csrf_token %}
                <input type="checkbox" name="status" {% if todo.status  %}checked{% endif %}>
                <input type="submit" value="Update">
                <button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
                {{ todo.text }}
                <input type="hidden" name="pk" value="{{todo.pk}}">
            </form>
        </li>
    {% endfor %}
    </ul>
    <hr />
    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" placeholder="what to do ..." name="text">
        <input type="submit" value="OK">
    </form>
  
    {% endblock %}
</body>
</html>

